<!DOCTYPE html>
<html lang="tr-TR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="E-Sağlık Uygulaması Firma Kayıt Ekranı.Hızlıca firma kaydınızı oluşturun! Sağlık bakanlığından onay alın ve güvenilir üretici haline gelin!">
    <meta name="author" content="E-Sağlık">
    <title>E-Sağlık Uygulaması - Ürün Timeline</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/timeline.css" rel="stylesheet">
    <link href="css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- MODERNIZR MENU -->
    <script src="js/modernizr.js"></script>

</head>

<body>

    <div class="my-timeline">

        <div class="my-container left-container">
            <h5> 10-09-2023</h5>
            <div class="text-box">
                <li>Ürün Adı: Nature's Sunshine Lesitin
                </li>
                <li>Durum: İthal Ürün</li>
                <li>Üretici:
                    NSP Kozmetik Sağlık Ürünleri Gıda Tarım Bitkisel Ürün Paz. San. Tic. Ltd. Şti.</li>
                <li>Onay Tarihi: 11.05.2020</li>
            </div>
        </div>
        <div class="my-container right-container">
            <h5>15-09-2023</h5>
            <div class="text-box">
                <p>İşletme Adı: Çanakkale 17 Burda Vitaminler</p>
                <li>Teslim Tarihi: 15-09-2023</li>
            </div>
        </div>
        <div class="my-container left-container">
            <h5>15-12-2023</h5>
            <div class="text-box">
                <p>İşletmeden satış yapıldı</p>
                <li>İşletme Satış:15-12-2023</li>
            </div>
        </div>
        <div class="my-container right-container">
            <h5>17-12-2023</h5>
            <div class="text-box">
                <p>Tüketici ürünü tarattı</p>
                <li>Ürün Taratım :17-12-2023</li>
            </div>
        </div>


        <div class="timeline-line"></div>
        <img class="timeline-image"
            src="http://flagcorp.brandedbybrandemic.com/wp-content/uploads/2023/10/Frame-39652-1.svg" alt="">
    </div>
    <!-- /container-fluid -->

    <div class="cd-overlay-nav">
        <span></span>
    </div>
    <!-- /cd-overlay-nav -->

    <div class="cd-overlay-content">
        <span></span>
    </div>
    <!-- /cd-overlay-content -->

    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
    <!-- /menu button -->



    <!-- COMMON SCRIPTS -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/common_scripts.min.js"></script>
    <script src="js/velocity.min.js"></script>
    <script src="js/common_functions.js"></script>
    <script src="js/file-validator.js"></script>

    <!-- Wizard script-->
    <script src="js/func_1.js"></script>

</body>

</html>