body{
    background-color: #95a5a6;
    background-image: url('../img/bg.jpg');
    background-position: center
}
.wrapper{
    max-width: 1024px;
    margin:auto;
    margin-top:10vh;
    margin-bottom:10vh;
    background-color: #fff;
    padding:10px;
    border-top:6px solid #3498db;
}
.links{
    list-style: none;
}
.links li{
    margin:10px 0;
}